.section {
  width: 1596px;
  height: 1542px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  box-sizing: border-box;
}

.badge {
  width: 230px;
  height: 50px;
  
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #262626; 

  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #FFFFFF;
  border: 2px solid #262626;
  border-radius: 8px; 
  
  box-sizing: border-box;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  width: 996px;
  margin: 0 auto; 
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 130%;
  color: #1A1A1A;
}

.description {
  width: 996px;
  margin: 0 auto; 
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #4C4C4C;
}
.historyContainer {
  width: 1596px;
  height: 1192px; 
  padding: 150px;
  background: #FFFFFF;
  border: 2px solid #262626;
  border-radius: 12px;
  box-shadow: 6px 6px 0px 2px #1E1E1E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}

.historyContainer::before {
  content: "";
  position: absolute;
  left: 165px; 
  top: 224px; 
  bottom: 224px;
  
  width: 2px; 
  background-color: #000; 
  border-left: 4px solid #FFBE99;
  border-right: 4px solid #FFBE99;
  
  z-index: 1;
}

.item {
  width: 1296px;
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 2; 
}

.iconWrapper {
  width: 448.31px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: transparent; 
}

.containerSvg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemTitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #1A1A1A;
}

.itemDesc {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #4C4C4C;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }

  .title,
  .description {
    width: 100%;
    font-size: 36px;

  }

  .historyContainer {
    width: 100%;
    height: auto;
    padding: 60px 20px;
  }

  .historyContainer::before {
    left: 40px;
    top: 100px;
    bottom: 100px;
  }

  .item {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .iconWrapper {
    width: 100%;
    height: auto;
  }
  .description {
    font-size: 16px;
  }
   .itemTitle {
    font-size: 22px;
  }

  .itemDesc {
    font-size: 16px;
  }
   .historyContainer::before {
    border-left: 2px solid #FFBE99;
    border-right: 2px solid #FFBE99;
    width: 1px;
    bottom: 350px;
    right: 15px;
  }
}

 
